<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input (keyup)="buscarHospital(input.value)" #input class="form-control " type="text" name="buscar" placeholder="Buscar hospital">
                <button (click)="modalHospital()" class="btn btn-primary" type="button">Agregar Hospital</button>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor.</span>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospitales Registrados (
                    <small>{{ totalRegistros }}</small>)</h4>
                <table class="table table-light">
                    <thead class="thead-light">
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">

                            <td class="w70">
                                <img class="img-fluid img-circle img-50 pointer" [src]="hospital.img | imagen:'hospital'" alt="" (click)="mostralModal( hospital._id )">
                            </td>
                            <td><input class="form-control" type="text" #f name="hotpial" [(ngModel)]="hospital.nombre"></td>
                            <td>
                                <button (click)="guardarHospital( hospital )" class="btn btn-primary" type="button">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="borrarHospital( hospital )" class="btn btn-danger" type="button">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-secondary" type="button" (click)="cambiarDesde(-5)">Anteriores</button>
                <button class="btn btn-secondary" type="button" (click)="cambiarDesde(5)">Siguientes</button>
            </div>
        </div>
    </div>
</div>