<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico [leyenda]="graficos.grafico1.leyenda" [labels]="graficos.grafico1.labels" [datos]="graficos.grafico1.data" [tipo]="graficos.grafico1.type"></app-grafico>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico [leyenda]="graficos.grafico2.leyenda" [labels]="graficos.grafico2.labels" [datos]="graficos.grafico2.data" [tipo]="graficos.grafico2.type"></app-grafico>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico [leyenda]="graficos.grafico3.leyenda" [labels]="graficos.grafico3.labels" [datos]="graficos.grafico3.data" [tipo]="graficos.grafico3.type"></app-grafico>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico [leyenda]="graficos.grafico4.leyenda" [labels]="graficos.grafico4.labels" [datos]="graficos.grafico4.data" [tipo]="graficos.grafico4.type"></app-grafico>
            </div>
        </div>
    </div>

</div>